@font-face{
    font-family: "icons-turn-arrow";
    src: url("../fonts/icons/iconfont.eot") format("embedded-opentype"),
         url("../fonts/icons/iconfont.woff") format("woff"),
         url("../fonts/icons/iconfont.ttf") format("truetype"),
         url("../fonts/icons/iconfont.svg") format("svg");
}

html, body{
    width: 100%;
    height: 100%;

    background-color:#fff;
}

.app {
  width: 100%;
  height: 100%;
}

